.cover {
  margin: 0 auto;
  background: url(../../images/cover-trains.jpg) no-repeat center;
  background-size: cover;
  max-width: 1184px;
  min-height: 740px;
}

@media (max-width: 1279px) {
  .cover {
    width: 100%;
    height: calc(100vw / 1.6);
    min-height: 0;
  }
}
