.places__website {
  display: inline;
  align-self: flex-end;
  width: 484px;
}

@media (max-width: 1279px) {
  .places__website {
    width: 456px;
  }
}

@media (max-width: 1023px) {
  .places__website {
    width: 352px;
  }
}

@media (max-width: 767px) {
  .places__website {
    width: calc(100% - 32px);
  }
}
